{
  "parser": "@typescript-eslint/parser", // @typescript-eslint/parser
  "extends": [
    "plugin:react/recommended", // eslint-plugin-react
    "plugin:@typescript-eslint/recommended", // @typescript-eslint/eslint-plugin
    "plugin:prettier/recommended" // eslint-plugin-prettier
  ],
  "plugins": [
    "react", // eslint-plugin-react
    "@typescript-eslint", // @typescript-eslint/eslint-plugin
    "prettier"
  ],
  "parserOptions": {
    // ESLint는 es6 이후의 문법을 알지 못하기 때문에 설정
    // https://eslint.org/docs/user-guide/configuring#specifying-parser-options
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true // eslint-plugin-react
    }
  },
  "rules": {
    // 설정하고 싶은 규칙 작성
    // 밑은 예시일 뿐, 아무거나 추가 가능
    "prettier/prettier": ["error"], // eslint-plugin-prettier
    "react/jsx-uses-vars": "error" // eslint-plugin-react
  },
  "ignorePatterns": ["*.config.js"] // 제외하려는 파일
  }