version: '3'
services:
  eureka-server:
    image: sookim1110/eureka-server
    ports:
      - "8761:8761"
    networks:
      - lastpunch-network

  redis:
    image: redis
    command: redis-server --port 6379
    ports:
      - "6379:6379"
    networks:
      - lastpunch-network

  rabbitmq:
    image: rabbitmq
    command: rabbitmq-server
    ports:
      - "5672:5672"
      - "15672:15672"
      - "61613:61613"
    expose:
      - "5672"
      - "15672"
      - "61613"
    volumes:
      - ./docker-setup/rabbitmq/rabbit_enabled_plugins:/etc/rabbitmq/enabled_plugins
    networks:
      - lastpunch-network

  mongodb:
    image: mongo
    command: mongod
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: lastpunch
      MONGO_INITDB_ROOT_PASSWORD: 1234
      MONGO_INITDB_DATABASE: lastpunch
    volumes:
      - ./docker-setup/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - lastpunch-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: lastpunch
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_ROOT_HOST: '%'
      TZ: Asia/Seoul
    volumes:
      - ./docker-setup/mysql/initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    expose:
      - "3306"
    networks:
      - lastpunch-network

  gateway:
    image: sookim1110/gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-server
      - workspace-server
      - eureka-server
    environment:
      auth.uri: http://auth:8081
      eureka.client.service-url.defaultZone: http://eureka-server:8761/eureka
    networks:
      - lastpunch-network

  auth-server:
    image: sookim1110/auth-server
    ports:
      - "8081:8081"
    environment:
      spring.datasource.url: jdbc:mysql://mysql:3306/lastpunch?
      eureka.client.service-url.defaultZone: http://eureka-server:8761/eureka
      spring.mail.username:
      spring.mail.password:
      spring.redis.host: redis
      spring.datasource.username: root
      spring.datasource.password: 1234
    depends_on:
      - mysql
      - redis
      - eureka-server
    restart:
      always
    networks:
      - lastpunch-network

  workspace-server:
    image: njsh4261/workspace-server
    ports:
      - "8082:8082"
    environment:
      spring.datasource.url: jdbc:mysql://mysql:3306/lastpunch?
      eureka.client.service-url.defaultZone: http://eureka-server:8761/eureka
      spring.datasource.username: root
      spring.datasource.password: 1234
    depends_on:
      - mysql
      - eureka-server
    restart:
      always
    networks:
      - lastpunch-network

  chat-server:
    image: njsh4261/chat-server
    ports:
      - "8083:8083"
    environment:
      spring.data.mongodb.uri: mongodb://localhost:27017/lastpunch
      eureka.client.service-url.defaultZone: http://eureka-server:8761/eureka
    depends_on:
      - eureka-server
      - mongodb
      - rabbitmq
    restart:
      always
    networks:
      - lastpunch-network

  note-server:
    image: sookim1110/note-server
    ports:
      - "9000:9000"
    environment:
      spring.data.mongodb.uri: mongodb://mongodb:27017/lastpunch
      eureka.client.service-url.defaultZone: http://eureka-server:8761/eureka
    depends_on:
      - mongodb
      - eureka-server
    restart:
      always
    networks:
      - lastpunch-network

  note-ws-server:
    image: sookim1110/note-ws-server
    ports:
      - "9001:9001"
    environment:
      spring.redis.host: redis
      eureka.client.service-url.defaultZone: http://eureka-server:8761/eureka
    depends_on:
      - redis
      - eureka-server
    restart:
      always
    networks:
      - lastpunch-network

networks:
  lastpunch-network:
    driver: bridge
