<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!--  <title>{{room.name}}</title>-->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<!--<h1>{{room.name}}({{room.id}})</h1>-->
<h2>Note</h2>
<!--<div class="content" data-room-id="{{room.id}}" data-member="{{member}}">-->
<div class="content">
  <ul class="chat_box">
  </ul>
  <input name="message">
  <button class="send">보내기</button>
</div>
<script>
  $(function () {
    var chatBox = $('.chat_box');
    var messageInput = $('input[name="message"]');
    var sendBtn = $('.send');
    var noteId = 1;
    // var member = $('.content').data('member');

    var sock = new SockJS("http://localhost:8080/note");
    var client = Stomp.over(sock); // 1. SockJS를 내부에 들고 있는 client를 내어준다.

    // 2. connection이 맺어지면 실행된다.
    client.connect({}, function () {
      // 3. send(path, header, message)로 메시지를 보낼 수 있다.
      client.send('/pub/note/update', {}, JSON.stringify({noteId: 1, blockId: ["1","2","3"]}));
      // 4. subscribe(path, callback)로 메시지를 받을 수 있다. callback 첫번째 파라미터의 body로 메시지의 내용이 들어온다.
      client.subscribe('/sub/note/1', function (chat) {
        var content = JSON.parse(chat.body);
        chatBox.append('<li>' + content.message + '(' + content.writer + ')</li>')
      });
    });

    sendBtn.click(function () {
      var message = messageInput.val();
      client.send('/pub/note/update', {}, JSON.stringify({noteId: 1, blockId: ["1","2","3"]}));
      messageInput.val('');
    });
  });
</script>
</body>
</html>